<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="favoriteList != '' && favoriteList else noFavorite">
    <ion-list style="padding-top: 2rem;" *ngFor="let fav of favoriteList">
      <ion-item-sliding>
        <ion-item [routerLink]="['../details/', fav.malID, fav.name]">
          <ion-thumbnail class="thumbnail" slot="start">
            <ion-img [src]="fav.img"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{fav.name}}</h2>
            </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" (click)="removeFavorite(fav)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <ng-template #noFavorite>
    <div style="padding-top: 60%;">
      <h1 class="centerr">Go Add some to Favorite</h1>
      <h1 class="centerr">( ＾◡＾)っ</h1>
    </div>
  </ng-template>



</ion-content>
