ion-menu-button {
    color: var(--ion-color-primary);
  }

  ion-item {
    --min-height: 150px;
  }
  
  .thumbnail {
    height: 108px;
    width: 108px;
  }

  ion-thumbnail {
    --border-radius: 12px;
  }